# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Virtual environments
.venv/
venv/
ENV/
env/

# Django database
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
